@import url("https://fonts.googleapis.com/css?family=Lato");
@import "~normalize.css/normalize.css";


$cell-size: 125px;
$mark-size: ceil(0.75 * $cell-size);
$border-width: 7px;
$mark-color: lighten(#000000, 20%);
$border-color: lighten($mark-color, 40%);
$hover-color: lighten($mark-color, 40%);

#game {
  margin: 100px;
}

body {
  font-family: "Lato", sans-serif;
}

.game {
  display: inline-block;
  position: relative;
}

.end-screen {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize(#edb000, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 45pt;
    margin: 0 0 30px 0;
    text-shadow: 0 4px 3px rgba(0,0,0,0.4),
                 0 8px 13px rgba(0,0,0,0.1),
                 0 18px 23px rgba(0,0,0,0.1);
  }

  span.restart {
    cursor: pointer;
    font-weight: bold;
    font-size: 20pt;
  }
}

.grid {
  display: inline-block;
}

.row {
  .cell {
    float: left;
    width: $cell-size;
    height: $cell-size;
    border-style: solid;
    border-color: $border-color;
    border-width: 0 $border-width $border-width 0;
    color: $mark-color;

    &.cross::before, &.circle::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      width: 100%;
      line-height: $cell-size;
      text-align: center;
    }

    &.cross::before {
      content: "\f00d";
      font-weight: 900;
      font-size: $mark-size;
    }

    &.circle::before {
      content: "\f111";
      font-weight: 400;
      font-size: ceil(0.9 * $mark-size);
    }

    &:not(.cross):not(.circle).hover {
      cursor: pointer;

      &::before {
        color: $hover-color;
      }

      &.hover-circle::before {
        @extend .circle;
      }

      &.hover-cross::before {
        @extend .cross;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }

  &:last-child {
    .cell {
      border-bottom: 0;
    }
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}